<div class="box bg-upeu" md-theme="{{ dynamicTheme }}">
    <div class="navbar md-whiteframe-z1 no-radius">
        <!-- brand -->
        <md-toolbar class="navbar-brand">
            
         <div class="md-toolbar-tools">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
                <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
                <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            </svg>
              <span class="hidden-folded m-l inline" ng-bind="app.name"></span>
            </div>
     
            

            
        </md-toolbar>
        <!-- / brand -->
    </div>
    <!--
  <md-content>
    <md-toolbar>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
          </svg>
        
        <span class="hidden-folded m-l inline" ng-bind="app.name"></span>
    </md-toolbar>
    
  </md-content>
-->
    <div class="box-row">
        <div class="box-cell scrollable hover">
            <div class="box-inner ">
                <div id="nav" ng-include="'app/views/partials/aside.nav.uikit.html'"></div>






            </div>
        </div>
    </div>
    <div>
        <md-button ng-click="setTheme('default')">Default</md-button>
        <md-button ng-click="setTheme('altTheme')">altTheme</md-button>
    </div>
</div>