  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form>
          <textarea class="form-control no-border p-md" rows="1" placeholder="Write something..."></textarea>
        </form>
        <div class="lt p">
          <button md-ink-ripple class="md-btn md-raised pull-right p-h-md {{app.setting.theme.accent}}">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>
            <li><a href><i class="fa fa-video-camera"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-xs-6">
          <div class="card">
            <div class="card-heading">
              <h2>Trending</h2>
              <small>Guess what you would like</small>
            </div>
            <div class="list-group list-group-lg">
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
                </span>
                #TheWalkingDead
              </a>
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-neutral i-20 text-muted-dk"></i>
                </span>
                #Survivor
              </a>
              <a href class="list-group-item text-ellipsis">
                <span class="pull-right">
                  <i class="mdi-action-trending-down i-20 text-muted-dk"></i>
                </span>
                #Whitehouse
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card {{app.setting.theme.primary}}">
            <div class="card-heading">
              <h2>Top Search</h2>
              <small>Something really cool</small>
            </div>
            <div class="list-group list-group-lg no-bg">
              <a href class="list-group-item">
                <span class="pull-right">
                  1
                </span>
                #Story
              </a>
              <a href class="list-group-item">
                <span class="pull-right">
                  2
                </span>
                #Nature
              </a>
              <a href class="list-group-item">
                <span class="pull-right">
                  3
                </span>
                #Sleeping
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>
