<md-content class="md-padding" layout-xs="column" layout="row">


    <p>
      You may supply a direction of <code>left</code>, <code>up</code>, <code>down</code>, or
      <code>right</code> through the <code>md-direction</code> attribute.
    </p>
    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                         ng-class="demo.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
          <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <ng-md-icon icon="twitter"></ng-md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <ng-md-icon icon="facebook"></ng-md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
          <ng-md-icon icon="hangout"></ng-md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
</md-content>


<md-button class="md-fab" aria-label="Eat cake">
            
            <ng-md-icon icon="cake" aria-label="title"></ng-md-icon>
            
        </md-button>

