<style type="text/css">
  .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container {
    padding: 10px;
}

.navigation {
    margin-bottom: 10px;
}

.navigation .pages > * {
    float: left;
}

.navigation .pages ul li {
    float: left;
    padding: 0 5px;
    cursor: pointer;
    display: block;
}

.navigation .pages ul li.active {
    font-weight: bold;
}

.items {
    border-left: 1px solid black;
    border-top: 1px solid black;
    max-width: 423px;
}

.items .item {
    float: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    width: 120px;
}

.item .price {
    font-weight: bold;
}


</style>


<div ng-controller="PagCtrl">






    <button ng-click="updateProducts()">Regenerate Products List</button>

    <div class="navigation">
        <div class="items-count">{{products.firstItemNumber}} - {{products.lastItemNumber}} of {{products.totalItemCount}} items</div>



        <div class="pages clearfix" ng-show="products.totalItemCount > products.itemsPerPage">
            <button ng-disabled="products.first" ng-click="products.prev()">&lt; Prev</button>
            <ul clearfix>
                <li ng-show="products.firstPageInRange != 1" ng-click="products.setPage(products.firstPageInRange - 1)">
                    ...
                </li>
    
                <li ng-repeat="page in products.pagesInRange" ng-click="products.setPage(page)" ng-class="{active: page == products.current}">
                    {{page}}
                </li>
    
                <li ng-show="products.lastPageInRange != products.pageCount" ng-click="products.setPage(products.lastPageInRange + 1)">
                    ...
                </li>
            </ul>
            <button ng-disabled="products.last" ng-click="products.next()">Next &gt;</button>
        </div>
        <div class="sorter">
            Sort by: 
            <select ng-model="sorting">
                <option value="-Price">Price descending</option>
                <option value="Price">Price ascending</option>
                <option value="Name">Name A-Z</option>
                <option value="-Name">Name Z-A</option>
            </select> 
        </div>
    </div>
    
    <div class="items clearfix">
        <div ng-repeat="item in products.items" class="item">
            <div class="image">
                <img ng-src="{{item.Thumb}}" alt="{{item.Name}}" />
            </div>
            <div class="name">
                <a ng-href="{{item.Detail}}" target="_blank">{{item.Name}}</a>
            </div>
            <div class="description">
                {{item.Description}}
            </div>
            <div class="price">
                {{item.Price}}€
            </div>
        </div>
    </div>




</div>


